div {
    background: rgba(0, 0, 0, 0.2);
}

div:first-child {
    background: rgba(0, 0, 0, 0.1);
}
.col-md-12 {
    height:100%;
}

.col-md-6 {
    height:100%;
}
.blau {
    background-color: blue;
}
.rot {
    background-color: red;
}
.gruen {
    background-color: #00FF00;
}
.gelb {
    background-color: #FFFF00;
}