

hr {
    border: 0;
    height: 1px;
    width: 80%;
    background-color: #7c7c7c;
}

a:hover {
    color: #00FF00;
}

#logo img{
    width: 50px;
    height: 50px;
}

#logo {
    margin-left: 3%;
    margin-top: 3%;
}

#nickName {
    text-align: center;
    font-size: 30px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
#nameButton {
    text-align: center;
    color: white;
    background-color:#5bb235;
    font-size: 20px;
    margin-top: 0;
    margin-left: 0;
}

#nameArea {
    text-align: center;
    color: white;
    background-color:white;
    margin-top: 0;
    margin-left: 0;
    padding-left: 18%;
    padding-right: 18%;
    
}

#nick {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
    
}


#lobby {
    text-align: center;
    font-size: 20px;
}

#liste button {
    background-color: #5bb235; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

#form {
    margin-bottom: 0;
    paddint-bottom: 0;
}
