/*@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.5;
  }
  
}


.blink {
  animation: blink 1s step-start 0s infinite;
  -webkit-animation: blink 1s step-start 0s infinite;
}
*/

/* MONITOR */

#playerlist {
    font-size: 50px;
    padding: 50px;
}

#players.player { 
    font-size: 50px;
    padding: 50px;
}




/* MONITOR BLINK */

@keyframes blinkA {  
    0% { background-color: #DFF0D8; }
    100% { background-color: #5bb235; }
}
@-webkit-keyframes blinkA {
    0% { background-color: #DFF0D8; }
    100% { background-color: #5bb235; }
}
.blinkA {
    -webkit-animation: blinkA 1s linear infinite;
    animation: blinkA 1s linear infinite;
    animation-iteration-count: 3;
} 

@keyframes blinkB {  
    0% { background-color: #D9EDF7; }
    100% { background-color: #358ab2; }
}
@-webkit-keyframes blinkB {
    0% { background-color: #D9EDF7; }
    100% { background-color: #358ab2; }
}
.blinkB {
    -webkit-animation: blinkB 1s linear infinite;
    animation: blinkB 1s linear infinite;
    animation-iteration-count: 3;
} 

@keyframes blinkC {  
    0% { background-color: #FCF8E3; }
    100% { background-color: #e5c844; }
}
@-webkit-keyframes blinkC {
    0% { background-color: #FCF8E3; }
    100% { background-color: #e5c844; }
}
.blinkC {
    -webkit-animation: blinkC 1s linear infinite;
    animation: blinkC 1s linear infinite;
    animation-iteration-count: 3;
} 

@keyframes blinkD {  
    0% { background-color: #FCF8E3; }
    100% { background-color: #b23535; }
}
@-webkit-keyframes blinkD {
    0% { background-color: #FCF8E3; }
    100% { background-color: #b23535; }
}
.blinkD {
    -webkit-animation: blinkD 1s linear infinite;
    animation: blinkD 1s linear infinite;
    animation-iteration-count: 3;
}
.player {
    display: block;
}
/*@keyframes blink { 50% { background-color: #ff0000; }  }
blink{ 
	color: #ff0000 ;
	background-color: #000000 ;	
	animation: blink .5s step-end infinite alternate; 
}
*/
