doctype html
html
    head
        link(rel='stylesheet', href='css/client2new.css')
        title HAW Quiz - Controller
        link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        style.
            .container-fixed { /*border: 1px solid red;*/ }
            .col {
                border: 1px solid #ccc;
                text-align: center;
            }
        script(src='js/client.js')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    body(onload='client()')
        #a
            // <a id ="a" href="#">A</a>
        #b
        // <div class="c">
        #c
        #d
        #user.user
        #score.score
            h2 0 Punkte
