doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        title
        script(src='js/quizmaster.js')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='http://code.jquery.com/jquery-1.11.1.js')
        script(src='//code.jquery.com/ui/1.11.4/jquery-ui.js')
    body(onload='quiz()')
        p ID eingeben:
            input#id(type='text')
            button#connect(type='submit') Verbinden
        p#questions Fragen
            ul#liste
        #add
            p Frage eingeben:
            input#frage(type='text', value="Frage")
            input#antwort(type='text', value="Antwort")
            input#falsch1(type='text', value="Falsche Antwort 1")
            input#falsch2(type='text', value="Falsche Antwort 2")
            input#falsch3(type='text', value="Falsche Antwort 3")
            button#addFrage(type='submit') Add
        #players Mitspieler
            #player
        button#go(type='submit') Quiz starten
        button#reset(type='submit') Reset
