doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Scores
        // Bootstrap
        link(href='css/bootstrap.min.css', rel='stylesheet')
        script(src='/socket.io/socket.io.js')
        script(src='https://cdn.socket.io/socket.io-1.2.0.js')
        script(src='js/success.js')
    body(onload='score()')
        nav.navbar
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    a.navbar-brand(href='#')
                        img(src='images/logo6.gif')
                    p#id1 ID:
                        el#id #{nummer}
                #navbar.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        //
                          <li class="active"><a href="#">Hilfe</a></li>
                          <li><a href="#about">Admin</a></li>
                // /.nav-collapse
        .jumbotron(style='text-align: center; height: 200px;')
            h2  Die Bestenliste von Quiz ID
                el#id  #{nummer}
        //
          <ul>
          <li>Spieler 1</li>
          <li>Spieler 2</li>
          </ul>
        ul#liste.list-group
        form#formReset(action='/',method='post')
            input#hidden(name='hidden',type="hidden",value='',form="formReset")
            //
              <li class="list-group-item list-group-item-success"><span class="badge">Punktzahl</span>Karo</li>
              <li class="list-group-item list-group-item-info"><span class="badge">100</span>Linh</li>
              <li class="list-group-item list-group-item-warning"><span class="badge">90</span>Hans</li>
              <li class="list-group-item list-group-item-danger"><span class="badge">65</span>Byron</li>
        // jQuery (necessary for Bootstrap's JavaScript plugins)
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        // Include all compiled plugins (below), or include individual files as needed
        script(src='js/bootstrap.min.js')
